<form action="/watch">
    <div class='form-group'>
      <input type='text' class='form-control' placeholder='Search' name='v'>
    </div>
  <center> <input type="submit" value="Submit"> </center>
</form> 